/* some global styles */
.page-section {
  padding: 3rem 0;
}

.page-section:first-of-type {
  padding-top: 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* custom change to design system compo */
/* cards */
.c-card__tag-wrapper {
  background-color: var(--kk-orange) !important;
}

.c-card__link:hover {
  box-shadow: 3px 3px var(--kk-white), 5px 5px var(--kk-orange) !important;
}
